<h1>Edit user</h1>

<%= form_for(@user) do |f| %>
  <%= render "fields", :f => f %>
  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<div>
	<%= gravatar_for @user %>
	<a href="http://gravatar.com/emails" target="_blank">change</a>
</div>
