<tr>
	<td class="gravatar">
		<%= link_to gravatar_for(feed_item.user), feed_item.user %>
	</td>
	<td class="micropost">
		<span class="user">
			<%= link_to feed_item.user.name, feed_item.user %>
		</span>
		<span class="content"><%= feed_item.content %></span>
		<span class="timestamp">
			Posted <%= time_ago_in_words(feed_item.created_at) %>ago.
		</span>
	</td>
	<% if current_user?(feed_item.user) %>
		<td>
			<%= link_to "delete", feed_item, :method => :delete,
																			 :confirm => "Are you sure?",
																			 :title => feed_item.content %>
    </td>
  <% end %>  											
</tr>