<div class="user_info">
	<a href="<%= user_path(current_user) %>">
		<%= gravatar_for current_user, :size => 30 %><br />
		<span class"user_name">
			<%= current_user.name %>
		</span><br />
		<span class="microposts">
			<%= pluralize(current_user.microposts.count, "microposts") %>
		</span>
	</a>
</div>