<header>
  <%= link_to logo, root_path %>
  <nav class="round">
    <ul>
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Help", help_path %></li>
      <% if signed_in? %>
      	<li><%= link_to "Users"   , users_path %></li>
        <li><%= link_to "Profile" , current_user %></li>
		<li><%= link_to "Settings", edit_user_path(current_user) %>
        <li><%= link_to "Sign out", signout_path, :method => :delete %></li>
      <% else%>
        <li><%= link_to "Sign in", signin_path %></li>
      <% end %>
    </ul>
  </nav>
</header>
